* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.email{
    width:232.8px
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}
.left {
    float: left;
    margin-bottom: 500px;
}
.right {
    float: right;
}

.img-fix {
    width: 100%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/photos/fallen-chess-king-as-a-metaphor-for-fall-from-power-picture-id471193998?k=20&m=471193998&s=612x612&w=0&h=OiPZJUj_A3_8VxB69KXVWQCF1MVzw1MZXS3UzFzAp64=);
   
    background-size:1000px;
    
    position: fixed;
    filter: blur(7px);
    transform: scale(1.1); 
    
}

.img-circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: -70px;
   
}


.main {
    width: calc(100% - 40px);
}
.side {
    width: 40px;
    height: 226px;
    position: relative;
}
.active {
    opacity: 1;
}
.wrapper {
    padding-top: 40vh;
    width: 250px;
    z-index: 9999;
    position: fixed;
    left: calc(50% - 100px);
}

body {
	font-family: sans-serif;	
	
	overflow: hidden;
	background-size: cover;
}

.container {
	width: 360px;
    margin-top: -260px;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 17px #333;
    position: relative;
    max-height:500px;
    height:450px
    
}

.header {
	
	padding-top: 55px;
    padding-right: 35px;
}

.header h1 {
	color: #333;
	font-size: 45px;
	margin-bottom: 80px;
}

.main {
	text-align: center;
   
}



.main button {
	padding-left: 9px;
	background-color: #c2f3f3;
	letter-spacing: 1px;
	font-weight:600;
    font-size: 20px;
	margin-bottom: 40px;
    height:50px;
    width:100px;
    box-shadow: 14px 14px 14px white;
    text-align: center;
    border-radius: 20px;
}
.main button:hover{
    box-shadow:14px 14px 14px #111111;
}
.drop-in {
    animation: drop-in 3s ease 200ms backwards;
   }
