<div class="bg" >
    <div class="login">
    <button class="button" mat-button><mat-icon>home</mat-icon> Home</button>
    <button class="button" mat-button routerLink="login"><mat-icon>account_circle</mat-icon> Login</button>
    <button class="button" mat-button routerLink="desk"><mat-icon>help</mat-icon> Help</button>
    <button class="button" mat-button  routerLink="register"><mat-icon>perm_phone_msg</mat-icon> Contact US</button>
    
    </div>
    <body class="container">
        <div class="overflow-hidden">
         <h1  style="padding-left: 100px;opacity: 0.9;"     class="header drop-in">WELCOME TO </h1>
        </div>
        <div class="overflow-hidden">
         <pre style="font-size: 17px; padding-left: 100px;"  class="drop-in-2">
              PREDICTOR     
         </pre>
        </div>
       </body>
       
</div>
