
<video autoplay muted loop id="myVideo">
  <source src="https://player.vimeo.com/progressive_redirect/playback/727090205/rendition/360p/file.mp4?loc=external&oauth2_token_id=57447761&signature=dbe77c666925a856fce678050ff4759e74af40aab557812a0f5db23656ed362f">
 
</video>


<mat-card class="top">
    <h1 style="color:black" class="aboutus"  class="header drop-in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ABOUT US</h1>
<h4 class="drop-in-2">"predictor" Sales forecasting is the website for estimating future revenue
     by predicting the amount of product or services a sales unit (which can be an individual salesperson,
      a sales team, or a company) will sell in the next week, month, quarter, or year.</h4>
   
</mat-card><br>
   
   
   <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=kottai street thiruninravur&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://mcpenation.com/">Minecraft Website</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:500px;}.gmap_iframe {width:900px!important;height:820px!important;}</style></div>
    <div class="column">
        <div class="card">
          <img src="assets\WhatsApp Image 2022-09-07 at 5.50.00 PM.jpeg" alt="kanthavelu" style="width:86%">
          <div class="container">
            <h2>kanthavelu</h2>
            <p class="title">intern</p>
            <p>Founder of Predictor app</p>
            <p>gkanthavelu@kaartech.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div><br>
