
<body>
    <video autoplay muted loop id="myVideo">
        <source src="https://player.vimeo.com/external/308040879.sd.mp4?s=808cd4774df4bfddf06b3689f2e7e28404a3495c&profile_id=164&oauth2_token_id=57447761" type="video/mp4" type="video/mp4">
       
      </video>

    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="register">About</a>
      <a href="file">Upload</a>
      
      <div class="search-container">
        <form action="/action_page.php">
          
          
        </form>
      </div>
    </div>
    
    <input type="text" placeholder="How Can We Help?.." name="search" class="h">
          <mat-icon matSuffix style="position:relative">search</mat-icon>
    
   
<div class="card">
        <p>&nbsp; 1.Upload the datasheet only  in csv formart.<br><br>
          &nbsp;  2.Datasheet should contain only "two-coloumns"eg:month,sales format.<br><br>
          &nbsp;  3.Click on upload button ,You will get a forecast for the required month.<br><br>
          &nbsp;  4.After uploading the CSV file,you will get a forecast for the respective CSV file.<br><br>
          &nbsp;  5.The graph will show forecast between the month and also for future month.
        <p>
</div><br>
<p class="p">Data Sheet Format</p>
<table class="table">
    <tr>
      
      <th>Month </th>
      <th>Sales</th>
    </tr>
    <tr>
      <td>12:06:2012</td>
    <td>3243</td>
    </tr>
    <tr>
      <td>12:07:2012</td>
      <td>3676</td>
      </tr>
      <tr>
      <td>12:11:2012</td>
      <td>3263</td>
      </tr>
    
    </table>

    
 </body>